* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: sans-bold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: sans-light;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: sans-light;
}

/* Nav Section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
  z-index: 1;
}

nav a {
  font-family: sans-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-decoration: none;
}

.logo {
  /* display: inline-block; */
  /* text-indent: -9999px; */
  width: 100px;
  height: 82px;
  background: url(../images/logo.svg);
  background-size: 100px 82px;
}

.user-options {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.login {
  background-color: #f3f0ec;
  color: black;
}

.sign-up {
  color: #fff;
  background: #4d90fe;
}

/* Header Section */

header {
  background-color: #f3f0ec;
}

header h1 {
  font-family: sans-bold;
}

header p {
  font-family: sans-light;
}

/* Main Section */

main {
  flex: auto;
  background-color: #f3f0ec;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload button {
  min-width: 200px;
  background: #4d90fe;
  padding: 1em 3em;
  font-weight: 600;
  font-size: 1.7rem;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  margin-bottom: 12px;
  border: none;
  border-radius: 13px;
}

.upload-btn-wrapper:focus {
  background-color: black;
}

.meme-template {
  border: none;
  min-width: 200px;
  padding: 1em 1.8em 0.8em;
  border-radius: 10px;
  transition: all .2s linear;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .14);
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #383e45;
  color: #fff
}

/* Footer Section  */

footer {
  background-color: #f3f0ec;
  text-align: left;
  padding-left: 1em;
}

/* Modal Section */

.upload-modal{
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1001;
  display: grid;
  background-color: #fff;
  grid-template-columns: 2fr 1fr;
}



/* .hide {
  display: none;
} */

